@import compass/reset
@import compass/utilities
@import compass/css3/pie
@import compass/css3
@import yui_fonts
@import bootstrap

/* Variables
$color-theme: #F85A55
$color-border: #F76C6A
$color-text: #292929
$color-text-light: #888888
$color-bg: #F3F2F2
$section-round-radius: 30px
$sections-space-width: 20px

/* Mixins
=circle($radius)
  width: $radius * 2
  height: $radius * 2
  +border-radius($radius)

=rounded-section($radius: $section-round-radius)
  +border-radius($radius)

=author-dl
  dl
    font:
      size: 12px
    padding: 0
    margin: 0
    text-align: right
    color: $color-text-light
    dt, dd
      display: inline
  

/* Specific
a
  &:link
    color: #6779D1
  &:visited
    color: #5361A8
  &:hover
    color: $color-theme
  &:active
    color: $color-theme

h2
  font:
    size: 30px
    weight: 300
  line:
    height: 50px
h3
  font:
    size: 20px
    weight: 700
  line:
    height: 40px
h4
  font:
    size: 16px
    weight: 700
  line:
    height: 30px
h5
  font:
    size: 14px
    weight: 700
  line:
    height: 24px

h6
  font:
    size: 12px
    weight: 700
  line:
    height: 20px

strong
  font-weight: 700

.body
  p
    margin: 10px 0 24px
  ul
    list-style: disc
    margin: 0 0 1.4em 2em
  ol
    list-style: decimal
    margin: 0 0 1.4em 2em
  li
    line-height: 1.6
    margin: 0 0 0.6em 0
  table
    margin: 0 0 1.4em 0
    th,
    td
      padding: 8px 12px
      border: #ccc solid 1px
    th
      background: #eee
      text-align: center
      font:
        weight: bold



/* Layout
#wrap
  +container-fixed
  padding: 0 4%
  max-width: 1280px

header#header
  h1
    margin: 0 auto
    text-align: center
    line-height: 460px
    padding: 0px
    font-size: 28px
    //border: solid 12px #FFF
    margin:
      top: -96px
  nav#global
    margin: 0
    padding: 0
    position: absolute
    top: 0
    left: 50%
    ul
      position: absolute
      top: 0
      li
        text-align: center
        line-height: 100px
        position: absolute
        top: 0
        display: inline-block
      li:first-child
        top: 50px
        left: -333px
      li:nth-child(2)
        top: 160px
        left: -320px
      li:nth-child(3)
        top: 258px
        left: -266px
      li:nth-child(4)
        top: 110px
        left: 231px
      li:nth-child(5)
        top: 216px
        left: 196px

div#about
  margin: 0
  padding: 0
  ol
    margin: 40px 0 $sections-space-width
    +make-row
    li
      +make-md-column(4)
      padding:
        bottom: 20px
      h2
        text-align: center
        font-size: 20px
 
#body
  +make-row
  #main
    +make-md-column(8)
    padding: 30px 2%
    .breadcrumbs
      margin: 0 0 20px
      ol
        li
          display: inline
    #articles
      h2
        padding:
          left: 5px
      article
        header
          h3
            display: inline-block
          .date
            margin:
              left: 10px
        footer
          border:
            bottom: solid 3px $color-border
          padding:
            bottom: 10px
          +author-dl
    aside#comments
      ul
        li
          +author-dl
          margin:
            bottom: 30px
        
  #sub
    +make-md-column(4)
    .ad
      padding: 20px 0
      text-align: center
      color: white
      p
        width: 250px
        height: 250px
        background-color: blue

#footer
  margin:
    top: $sections-space-width
  padding: 30px 17%
  +make-row
  nav
    +make-md-column(12)
    ul
      +make-row
      li
        text-align: center
        +make-md-column(2.4)
  p
    text-align: center

/* Style
body
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif
  background:
    color: $color-theme
  color: $color-text

header#header
  h1
    +circle(220px)
    background:
      color: $color-bg
  nav#global
    ul
      li
        +circle(50px)
        background:
          color: $color-bg
        
#about
  ol
    +rounded-section
    background:
      color: $color-bg
    li
      @media (min-width: $screen-md)
        border:
          left: solid 2px $color-theme
      &:first-child
        border: none
        
#body
  +rounded-section
  background:
    color: $color-bg
  #main
    .breadcrumbs
      ol
        li:not([class="current"]):after
          content: '>'
    #articles
      h2
        border:
          left: solid 5px $color-theme
      article
        header
          .date
            color: $color-text-light
            font:
              size: 12px

#footer
  +border-top-radius($section-round-radius)
  background:
    color: #444
  nav
    ul
      margin:
        bottom: 40px
      a
        color: #999
    p
      color: #ccc
      font:
        size: 12px
